<a href="https://colab.research.google.com/github/siddhartha1506/Task4-csv_files/blob/main/Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [ ]:
import pandas as pd

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [ ]:
import pandas as pd
df1=pd.read_csv('college_1.csv')
df2=pd.read_csv('college_2.csv')
df=pd.concat([df1,df2],axis=0,ignore_index=True)
print(df)

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [ ]:
ee=df[df['CodeKata Score']>15000]
ee.to_csv('Exceeded expectations.csv')
re=df[(df['CodeKata Score']<15000) & (df['CodeKata Score']>10000)]
re.to_csv('Reached_expectations.csv')
ni=df[(df['CodeKata Score']<10000) & (df['CodeKata Score']>7000)]
ni.to_csv('Needs_Improvement.csv')
us=df[df['CodeKata Score']<7000]
us.to_csv('Unsatisfactory.csv')

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [ ]:
avg1= df['Previous Geekions'].mean()
print('average of previous week geekions',avg1)
avg2= df['CodeKata Score'].mean()
print('average of this week geekions',avg2)

###### No of students participated

In [ ]:
print(df['Name'].count())

###### #Average completion of python course or my_sql or python english or computational thinking

In [ ]:
#Average completion of computational thinking
completed_computational_thinking=df[~df['computational_thinking'].isnull()]
avg_comp_comp_think=completed_computational_thinking['Name'].count()/df['Name'].count()
print(avg_comp_comp_think*100,'%')

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [ ]:
rising_star_of_the_week=df.sort_values(by='CodeKata Score',ascending=False)
print(rising_star_of_the_week.head(3))

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [ ]:
shining_star_of_the_week=df.sort_values(by='Previous Geekions',ascending=False)
print(shining_star_of_the_week.head(3))

###### Department wise codekata performence (pie chart)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
df1=pd.read_csv('college_1.csv')
df2=pd.read_csv('college_2.csv')
df=pd.concat([df1,df2],axis=0,ignore_index=True)
dept_codekata_performance=df.groupby('Department')['CodeKata Score'].sum()
department=df.Department.unique()
total_score=dept_codekata_performance
plt.pie(total_score,labels=department,autopct='%1.2f%%')
plt.title('Department wise codekata performence')
plt.show()

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [ ]:
import pandas as pd
df1=pd.read_csv('college_1.csv')
df2=pd.read_csv('college_2.csv')
df=pd.concat([df1,df2],axis=0,ignore_index=True)
rank=df.sort_values(by='CodeKata Score',ascending=False)
dup=rank.drop_duplicates(subset=['Department'])
y1=dup['Previous Geekions'].values
y2=dup['CodeKata Score'].values
y3=dup['python'].values
y4=dup['mysql'].values
x=dup['Name']
df=pd.DataFrame({'Previous Geekions':y1,
                   'CodeKata Score':y2,'python':y3,'mysql':y4},index=x)
hb1=df.plot.barh(y='Previous Geekions',rot=0)
hb1=df.plot.barh(y='CodeKata Score',rot=0)
hb1=df.plot.barh(y='python',rot=0)
hb1=df.plot.barh(y='mysql',rot=0)